/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.10.2013, 19:56:18
    Author     : Sammy Guergachi <sguergachi at gmail.com>
*/


body{
    background-color:#000000;
}
p{
    color:#33FF66;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
}
#text_top {
    position:relative;
    z-index: 4;
}

div#frame {
    
    position: absolute;
    left:100px;
    top:100px;
    width:545px;
    height:629px;
    background-image:url(../ch05/end/images/frame.png);
    z-index: 2;
    overflow: hidden;
}

div#pic_box {
    width: 367px;
    height:460px;
    position: relative;
    left:91px;
    top:84px;
    z-index: 1;
    overflow: hidden;
}
    
div#head {
    height: 172px;
}

div#eyes {
    height: 79px;
}
    
div#nose {
    height: 86px;
}

div#mouth {
    height: 117px; 
}

div.face {
    position:relative;
    left:0px;
    top:0px;
    z-index: 0;

}

header#top {
    position:absolute;
    z-index:4;
}

div#container {
    position:absolute;
    left:0px;
    top:0px;
    z-index: 0;
}

.lightning {
    display:none;
    position:absolute;
    left:0px;
    top:0px;
    z-index: 0;
}

div#button_box {
    
    position: absolute;
    left:630px;
    top:100px;
    width:250px;
    height:629px;
    z-index: 2;
    overflow: hidden;
}

div button {
    
    width:150px;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    font: 1.6em fantasy;
    color: #33FF66;
    background-color: #111;
    border-radius: 2px;
}

div button:hover {
    background-color: purple;
    color: greenyellow;
    
}